body
{
   background : #EEEEEE;
   padding : 0;
   border : 0;
   margin : 0;
}

table, tr, th, td
{
   margin               : 0px ;
   padding              : 0px ;
   border               : 0px ;
   border-collapse      : collapse ;
}

table.cssTable th, table.cssTable td
, table.cssTableNoBorder th, table.cssTableNoBorder td
{
   font-size            : 85% ;
   padding              : 1px 3px 1px 3px ;
}

table.cssTable th, table.cssTable td
{
   border               : 1px solid #888888 ;
}

table.cssTable th
{
   color                : #FFFFFF ;
   background-color     : #000000 ;
   text-align           : center ;
}

table.cssTable td
{
   color                : #000000 ;
   background-color     : #DDDDDD ;
   text-align           : left ;
}

tr.cssEven td
{
   background-color     : #FFFFFF ;
}

tr.cssOdd td
{
   background-color     : #E8E8E8 ;
}

table.cssTable td.cssBlack
{
   color                : #FFFFFF ;
   background-color     : #000000 ;
}


.cssLeft { text-align : left ; }
.cssCenter { text-align : center ; }
.cssRight { text-align : right ; }
.cssJustify { text-align : justify ; }

.cssDisplayBlock { display : block; }
.cssDisplayNone { display : none; }


table.cssTable td.cssLeft { text-align : left ; }
table.cssTable td.cssCenter { text-align : center ; }
table.cssTable td.cssRight { text-align : right ; }
table.cssTable td.cssJustify { text-align : justify ; }

span.cssButtonGroup { padding : 0 1.5em; }


